body {
  padding: 10px;
  height:100%;
  font-family: sans-serif;
}
.margin-top{
  margin-top: 50px;
}
#iframe-viewer{
  border:1px solid gray; resize:both;
  width:100%;
   }
.CodeMirror{
  min-height:-webkit-fill-available !important; max-height:780px !important;
}
